$font-family: 'Roboto', sans-serif;
$main-color: #333333;

$yellow-bg: #ffc401ab;
$grey-bg: #F9FAFC;
$yellow: #ffc401d2;
$light-yellow: #ffc10750;
$dark-yellow: #EBBA16;

$start-color: #EBBA16;
$hover-start-color: #d4a919f5;
$complete-color: #25AE88;
$hover-complete-color: #25ae87d8;
$delete-color: #D75A4A;
$hover-delete-color: #c04534;
